<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" href="#">
      <span class="navbar-brand">Contacts App</span>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-btn">
          {{#link-to 'contacts.new' tagName="button" classNames="btn btn-info"}}Add New Contact <span class="glyphicon glyphicon-plus"></span>{{/link-to}}
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<div class="container-fluid">
  {{outlet}}
</div>

